<%- include('partials/head'); -%>
<body>
	<%- include('partials/header'); -%>
	
	<% if (loggedIn) { %>
		<a href="/email-new-leads">Auto-email new leads</a>
	<% } %>
	<% if (!loggedIn) { %>
	    <a href="/login">Login</a>
	<% } %>
</body>