<%- include('partials/head'); -%>
<body>
	<%- include('partials/header'); -%>
	
	<% if (loggedIn) { %>
		<p><a href="/email-new-leads">Auto-email new leads</a></p>
		<p><a href="/log-correspondence">Log correspondence</a></p>
		<p><a href="/manually-add-lead">Manually add new lead</a></p>
		<hr />
		<p><a href="/process-attachments">Process attachments</a></p>
		<!-- <p><a href="/populi-login">Login to populi</a></p> -->
	<% } %>
	<% if (!loggedIn) { %>
	    <a href="/login">Login</a>
	<% } %>

	<p><%= environment %> || <%= root %></p>
</body>