<%- include('partials/head'); -%>
<body>
	<%- include('partials/header'); -%>
	
	<% if (loggedIn) { %>
		<p><a href="/ci/email-new-leads">Auto-email new leads</a></p>
		<p><a href="/ci/send-enrollment-information">Send enrollment information</a></p>
		<p><a href="/ci/log-correspondence">Log correspondence</a></p>
		<p><a href="/ci/manually-add-lead">Manually add new lead</a></p>
		<hr />
		<p><a href="/ci/process-attachments">Process attachments</a></p>
		<p><a href="/ci/populi-login">Login to populi</a></p>
		<p><a href="/ci/student-creation-preview">Create students in Populi</a></p>
		<hr />
		<p><a href="/ci/logs">Logs</a></p>
	<% } %>
	<% if (!loggedIn) { %>
	    <a href="/ci/login">Login</a>
	<% } %>

	<p><%= environment %> || <%= root %></p>
</body>